*{
    margin:  0 auto;
    padding: 0;
    box-sizing: border-box;
}

.player{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 320px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30%;
}

.play{
    width: 100px;
    height: 100px;
    background-image: url(play.webp);
    background-size: 100% 100%;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play:hover{
    transform: rotate(360deg) scale(1.2) ;
    transition: 0.8s;
    background-color: red;
    
}
.pause{
    width: 100px;
    height: 50px;
    background-image: url(Pause.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pause:hover{
    transform: scale(1.1) rotate(360deg);
    transition: 1s;
}
.stop{
    width: 50px;
    height: 50px;
    background-image: url(stop.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stop:hover{
    transform: scale(1.3);
    transition: 1.1s;
}
